<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Bot not available</title>
</head>
<body>
<h1 class="text-center">Sorry boy, this bot is still on development ! Come back later !</h1>
<div class="pt-5 text-center">
<form action = "/backMenu" method="post"> <!-- Form to go back to menu-->
  <input type = "submit" class="btn btn-primary btn-lg" value = "Go back to bot selection">
</form>
</div>
</body>
</html>
